@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    background-color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
}

p {
    font-weight: 300;
}

#seccion_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
}

#seccion_arriba {
    width: 100%;
    height: calc(100% - 80px);
    background-color: #000;
    display: flex;
}

#seccion_superior_izquierda {
    width: 30%;
    background-color: #000;
    padding: 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

#seccion_superior_izquierda ul {
    padding: 8px 12px;
    margin: 0;
    list-style: none;
}

#seccion_superior_izquierda ul li {
    height: 40px;
    padding: 4px 12px;
    color: #fff;
}

#seccion_superior_izquierda ul li a {
    color: #fff;
    text-decoration: none;
}

#seccion_izquierda_arriba {
    width: 100%;
    height: auto;
    background-color: #121212;
    border-radius: 8px;
    margin-bottom: 8px;
}

#seccion_superior_izquierda_abajo {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 0 8px;
    background-color: #121212;
    box-sizing: border-box;
}

#seccion_izquierda_abajo_cabecera {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#tu_biblioteca_titulo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #fff;
}

#agregar_playlist {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

#agregar_playlist button {
    padding: 10px;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: 22px;
}

#playlists_titulo {
    width: 100%;
    padding: 8px 16px 30px 8px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid #ffffff1a;
    box-sizing: border-box;
}

#playlists_titulo span {
    padding: 4px 12px;
    border-radius: 20px;
    background-color: #ffffff1a;
    color: #fff;
}

#playlists_contenedor {
    width: 100%;
    padding: 8px 16px;
    box-sizing: border-box;
}

.playlist_item {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.playlist_item section {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playlist_item section img {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff1a;
}

.playlist_item section p {
    margin: 0;
    margin-bottom: 10px;
    color: #fff;
    padding-left: 10px;
}

#seccion_superior_derecha {
    width: 70%;
    background-color: #000;
    display: flex;
    padding: 8px 0;
    box-sizing: border-box;
}

#seccion_derecha_interior {
    width: 100%;
    background-color: #121212;
    border-radius: 8px;
}

#seccion_abajo {
    width: 100%;
    height: 72px;
    background-color: #000;
    display: flex;
    align-items: center;
}

#barra_superior {
    width: 100%;
    height: 40px;
}

#barra_superior {
    width: 100%;
    height: 64px;
    display: flex;
}

#contenido_inicio {
    width: 100%;
    height: calc(100% - 72px);
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 16px;
    box-sizing: border-box;
}

#contenido_inicio::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 20px;
    width: 8px;
}

#contenido_inicio::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 20px;
}


#barra_superior_izquierda {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#barra_superior_enmedio {
    width: 70%;
    height: 100%;
}

#barra_superior_derecha {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#seccion_abajo_izquierda {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 0 8px 0 16px;
    box-sizing: border-box;
}

#seccion_abajo_izquierda_izquierda {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

#seccion_abajo_izquierda_enmedio {
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#seccion_abajo_izquierda_enmedio p {
    color: #fff;
    margin: 0 16px 0 8px;
}

#seccion_abajo_izquierda_enmedio_titulo_cancion {
    font-size: 14px;
    margin: 0;
    margin-bottom: 5px;
}

#seccion_abajo_izquierda_enmedio_nombre_artista {
    color: #a7a7a7 !important;
    font-size: 12px;
    margin: 0;
    letter-spacing: 0.5px;
}

#seccion_abajo_izquierda_izquierda img {
    width: 56px;
    height: 56px;
    border-radius: 4px;
}

#seccion_abajo_izquierda_derecha {
    width: max-content;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton_favorito_cancion {
    width: 32px;
    height: 32px;
    padding: 0;
    background-color: transparent;
    border: none;
}

#boton_favorito_cancion svg {
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

#boton_favorito_cancion svg:hover {
    fill: #fff;
}

#seccion_abajo_enmedio {
    width: 40%;
    height: auto;
}

#seccion_abajo_enmedio_arriba {
    width: 100%;
    height: 32px;
    margin-bottom: 8px;
    display: flex;
    gap: 16px;
    align-items: center;
}

#seccion_abajo_enmedio_arriba section {
    flex-flow: row nowrap;
    display: flex;
}

#seccion_abajo_enmedio_arriba_izquierda {
    flex: 1;
    justify-content: flex-end;
    gap: 8px;
}

#boton_aleatorio {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#boton_aleatorio svg {
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

#boton_aleatorio:hover svg {
    fill: #fff;
}

#boton_cancion_anterior {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#boton_cancion_anterior svg {
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

#boton_cancion_anterior:hover svg {
    fill: #fff;
}

#boton_play {
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#boton_play svg {
    width: 16px;
    height: 16px;
}

#seccion_abajo_enmedio_arriba_derecha {
    flex: 1;
    justify-content: flex-start;
    gap: 8px;
}

#boton_cancion_siguiente {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#boton_cancion_siguiente svg {
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

#boton_cancion_siguiente:hover svg {
    fill: #fff;
}

#boton_repetir_cancion {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#boton_repetir_cancion svg {
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

#boton_repetir_cancion:hover svg {
    fill: #fff;
}

#seccion_abajo_enmedio_abajo {
    width: 100%;
    height: 17px;
}

#seccion_abajo_derecha {
    width: 30%;
    height: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 8px;
    box-sizing: border-box;
}

#seccion_abajo_derecha_1 {
    width: 32px;
    height: 32px;
}

#boton_letra_cancion {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#boton_letra_cancion svg {
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

#boton_letra_cancion:hover svg {
    fill: #fff;
}

#seccion_abajo_derecha_2 {
    width: 32px;
    height: 32px;
}

#boton_cola_reproduccion {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#boton_cola_reproduccion svg {
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

#boton_cola_reproduccion:hover svg {
    fill: #fff;
}

#seccion_abajo_derecha_3 {
    width: 32px;
    height: 32px;
}

#seccion_abajo_derecha_4 {
    width: 32px;
    height: 32px;
}

#boton_pantalla_completa {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: none;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#boton_pantalla_completa svg {
    width: 16px;
    height: 16px;
    fill: #a7a7a7;
}

#boton_pantalla_completa:hover svg {
    fill: #fff;
}

#boton_atras {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#boton_adelante {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#boton_novedades {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

#boton_novedades svg {
    width: 16px;
    height: 16px;
}

#boton_novedades svg path {
    fill: #fff;
}

#boton_perfil {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: none;
    padding: 0;
    background-color: #000;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#boton_perfil span {
    width: 26px;
    height: 26px;
    background-color: #ae0f78;
    border-radius: 100%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

#escuchado_recientemente_titulo {
    color: white;
    font-size: 22px;
    padding-left: 16px;
}

#escuchados_recientemente {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 18px;
}

.cancion_inicio_item {
    height: auto;
    padding: 16px;
    box-sizing: border-box;
    background-color: #181818;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.cancion_inicio_item:hover {
    background-color: #282828;
}

.cancion_inicio_item_arriba {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    display: flex;
}

.cancion_inicio_item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

@keyframes animacion_boton_play_inicio_item {
    0% {
        opacity: 0;
        transform: none;
    }
    100% {
        opacity: 1;
        bottom: 8px;
    }
}

.boton_play_inicio_item {
    position: absolute;
    right: 8px;
    bottom: 0px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 100%;
    background-color: #1ed760;
    opacity: 0;
    transition: all 0.3s ease;
    cursor: pointer;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.3);
}

.cancion_inicio_item:hover .boton_play_inicio_item {
    opacity: 1 !important;
    bottom: 8px;
}

.boton_play_inicio_item svg {
    width: 24px;
    height: 24px;
    fill: #000;
}

.cancion_inicio_item_abajo {
    width: 100%;
    color: white;
}

.cancion_inicio_item_abajo a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.cancion_inicio_item_abajo h5 {
    font-size: 16px;
}

.cancion_inicio_item_abajo p {
    font-size: 14px;
    color: #a7a7a7 !important;;
}

